# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Env
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Build
.next/
dist/
build/
out/

# Misc
.DS_Store
